# OSIA Intelligence Feed List

# Geopolitics & Security
https://www.aljazeera.com/xml/rss/all.xml
https://feeds.bbci.co.uk/news/world/rss.xml
https://feeds.skynews.com/feeds/rss/world.xml
https://www.defenseone.com/rss/all/
https://www.longwarjournal.org/feed
https://worldview.stratfor.com/rss.xml
https://rss.politico.com/politics-news.xml
https://www.europarl.europa.eu/rss/doc/top-stories/en.xml

# Technology & Cyber
https://techcrunch.com/feed/
https://feeds.feedburner.com/TheHackersNews
https://www.theverge.com/rss/index.xml
https://spectrum.ieee.org/rss/fulltext
https://feeds.feedburner.com/TheHackersNews
https://www.cisa.gov/cybersecurity-advisories/all.xml
https://www.ncsc.gov.uk/api/1/services/v1/all-rss-feed.xml

# CVE Feed
https://nvd.nist.gov/feeds/xml/cve/misc/nvd-rss-analyzed.xml

# Finance & Economics
https://www.ft.com/?format=rss
https://www.economist.com/international/rss.xml
https://feeds.bbci.co.uk/news/business/rss.xml

# Cloud Security 
https://aws.amazon.com/blogs/security/feed/
https://cloudsecurityalliance.org/feed/

# Australian Gov
https://theconversation.com/topics/australian-government-55987/articles.atom
https://www.cyber.gov.au/rss/advisories
https://www.cyber.gov.au/rss/alerts
https://www.cyber.gov.au/rss/advice
https://www.cyber.gov.au/rss/news
